* { 
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: black;
}

html {
	ms-overflow-style: none;	/* IE 10 */
	scrollbar-width: none;		/* Firefox */
	margin: 0;
	padding: 0;
}

html::-webkit-scrollbar { 
	display: none;
}

body {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
}

::selection {
	background: rgba(200, 200, 200, 0.5);	/* WebKit/Blink Browsers */
}

::-moz-selection {
	background: rgba(200, 200, 200, 0.5);	/* Gecko Browsers */

}

.section {
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.section:nth-child(1) {
	background-image: url(./assets/background-images/1darkened20.webp);
}

.section:nth-child(2) {
	background-image: url(./assets/background-images/2darkened25.webp);
}

.content-paragraph {
	display: block;
	height: auto;
	width: 100%;
	text-align: center;
}

.main-title {
	color: white;
	font-weight: 100;
	font-size: 65px;
	font-family: "Montserrat", sans-serif;
	text-transform: uppercase;
}

.subtitle {
	font-weight: lighter;
	font-style: italic;
	font-size: 19px;
	color: white;
	font-family: "Playfair Display", serif;
	padding-left: 10px;
	padding-right: 10px;
}

.main-title.error-message {
	font-size: 15px
}

.contact-box {
	display: block;
	vertical-align: middle;
	text-align: center;
	border-radius: 7px;
	border: 2px solid rgb(65, 65, 65);
	width: 30px;
	height: 170px;
	z-index: 1;
	position: fixed;
	top: calc(50vh - (170px / 2));
	margin-left: 20px;
}

.contact-box:hover {
	cursor: pointer;
}

.contact-box:hover > span {
	color: #A8A8A8;
}

.contact-box span {
	
	height: 100%;
	text-orientation: upright;
	writing-mode: vertical-rl;
	text-transform: uppercase;
	color: rgb(65, 65, 65);
	font-weight: 700;
	font-family: "Montserrat", sans-serif;
}

.contact-expendable {
	display: none;
	margin-left: 60px;
	top: calc(50vh - (170px / 2));
	z-index: 1;
	position: fixed;
	height: 170px;
	width: auto;
}

.contact-expendable a:hover {
	color: #A0A0A0;
}

.contact-icon {
	margin-left: 10px;
	float: left;
	height: 20px;
	width: 20px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

#number {
	background-image: url(./assets/icons/contact/phone.webp);
}

#email {
	background-image: url(./assets/icons/contact/email.webp);
}

#location {
	background-image: url(./assets/icons/contact/location.webp);
}

.contact-expendable span {
	padding-left: 10px;
	float: left;
	color: rgb(65, 65, 65);
	font-weight: 700;
	font-size: 14px;
	font-family: "Montserrat", sans-serif;
	text-transform: uppercase;
}

.contact-expendable section {
	padding-top: 5px;
	padding-bottom: 5px;
}

.contact-expendable section:after {
	content: "";
	clear: both;
	display: block;
}

.icon-box {
	width: 30px;
	height:170px;
	z-index: 1;
	position: absolute;
	top: calc(50vh - (/* height */170px / 2));
	right: 0;
	margin-right: 10px; 
}

.icon-box a {
	width: 100%;
	height: 100%;
	display: block;
}

.icon {
	height: 25%;
	width: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

#facebook {
	background-image: url(./assets/icons/social-media/facebookbw.png);
}

#facebook:hover {
	background-image: url(./assets/icons/social-media/facebook.png);
}

#instagram {
	background-image: url(./assets/icons/social-media/instagrambw.png);
}

#instagram:hover {
	background-image: url(./assets/icons/social-media/instagram.png);	
}

#twitter {
	background-image: url(./assets/icons/social-media/twitterbw.png);
}

#twitter:hover {
	background-image: url(./assets/icons/social-media/twitter.png);	
}

#youtube {
	background-image: url(./assets/icons/social-media/youtubebw.png);	
}

#youtube:hover {
	background-image: url(./assets/icons/social-media/youtube.png);	
}

@media screen and (max-width: 800px) {
	.contact-box {
		display: table;
		top: 0;
		margin-top: 10px;
		position: fixed;
		height: 30px;
		width: auto;
	}

	.contact-box span {
		display: table-cell;
		vertical-align: middle;
		padding-left: 10px;
		padding-right: 10px;
		letter-spacing: 7px;
		writing-mode: horizontal-tb;
	}

	.contact-expendable {
		margin: 0;
		top: 0;
		height: auto;
		margin-top: 55px;
		background-color: transparent;
	}

	.icon-box {
		right: 0;
		top: 0;
		margin-top: 10px;
		height: 30px;
		width: auto;
	}

	.icon-box:after {
		content: "";
		clear: both;
	}

	.icon {
		padding-left: 20px;
		float: right;
		width: 30px;
		height: 100%;
	}

	iframe {
		height: 35vw;
		width: 62.2222222222222222222222222222vw;
	}
}


@media screen and (max-width: 700px) {
	.main-title {
		font-size: 10vw;
	}

	.subtitle {
		font-size: 2.5vw;
	}

	.main-title.error-message {
		font-size: 2vw;
	}
}

@media screen and (max-width: 526px) {
	.main-title {
		font-size: 10vw;
	}

	.subtitle {
		font-size: 3vw;
	}

	.main-title.error-message {
		font-size: 2.5vw;
	}
}

@media screen and (max-width: 420px) {
	.icon {
		padding-right: 7.5px;
		padding-left: 7.5px;
	}
}

@media screen and (max-width: 395px) {
	.contact-box { 
		position: fixed;
		left: 50%;
		transform: translate(-50%, 0);
		margin: 0;
		margin-top: 50px; 
	}

	.contact-expendable {
		min-width: 256px;
		margin: 0;
		margin-top: 90px;
		left: 50%;
		transform: translate(-50%, 0);
	}

	.icon-box {
		position: fixed;
		width: 180px;
		left: 50%;
		transform: translate(-50%, 0);
	}

	.main-title {
		font-size: 45px;
	}

	.subtitle {
		font-size: 13px;
	}

	.main-title.error-message {
		font-size: 15px;
	}
}

@media screen and (max-width: 376px) {
	.main-title {
		font-size: 45px;
	}

	.subtitle {
		padding-left: 10px;
		padding-right: 10px;
	}
}

@media screen and (max-width: 320px) {
	.main-title {
		font-size: 14vw;
	}

	.subtitle {
		padding-left: 10px;
		padding-right: 10px;
	}
}

input {
  display: none; /* hide the checkboxes */
}

.contact-box + input + .contact-expendable {
  display: none;
}

input:checked + .contact-expendable {
  display: block;
}