:root {
	--subtext-color: rgb(65, 65, 65);
	--subtext-color: #494c68;
	--subtext-hover: #9294a4;
}

* { 
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: var(--subtext-hover);
}

html {
	ms-overflow-style: none;	/* IE 10 */
	scrollbar-width: none;		/* Firefox */
	margin: 0;
	padding: 0;
}

html::-webkit-scrollbar { 
	display: none;
}

body {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
}

::selection {	
	background: rgba(73, 76, 104, 0.5);	/* WebKit/Blink Browsers */
}

::-moz-selection {
	background: rgba(73, 76, 104, 0.5);	/* Gecko Browsers */

}

.section {
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.section:nth-child(1) {
	background-image: url(./assets/background-images/1darkened20.webp);
}

.section:nth-child(2) {
	background-image: url(./assets/background-images/2darkened25.webp);
}

.content-paragraph {
	display: block;
	height: auto;
	width: 100%;
	text-align: center;
}

.main-title {
	color: white;
	font-weight: 100;
	font-size: 65px;
	font-family: "Montserrat", sans-serif;
	text-transform: uppercase;
}

.subtitle {
	font-weight: lighter;
	font-style: italic;
	font-size: 19px;
	color: white;
	font-family: "Playfair Display", serif;
	padding-left: 10px;
	padding-right: 10px;
}

.main-title.error-message {
	font-size: 15px
}

.contact-box {
	display: block;
	vertical-align: middle;
	text-align: center;
	border-radius: 7px;
	border: 2px solid var(--subtext-color);
	width: 30px;
	height: 170px;
	z-index: 1;
	position: fixed;
	top: calc(50vh - (170px / 2));
	margin-left: 20px;
}

.contact-box:hover {
	cursor: pointer;
}

.contact-box:hover > span {
	color: var(--subtext-hover);
}

.contact-box span {
	height: 100%;
	text-orientation: upright;
	writing-mode: vertical-rl;
	text-transform: uppercase;
	color: var(--subtext-color);
	font-weight: 700;
	font-family: "Montserrat", sans-serif;
}

.icon-box {
	width: 30px;
	height:170px;
	z-index: 1;
	position: absolute;
	top: calc(50vh - (/* height */170px / 2));
	right: 0;
	margin-right: 10px; 
}

.icon-box a {
	width: 100%;
	height: 100%;
	display: block;
}

.icon {
	cursor: pointer;
	height: 25%;
	width: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

#facebook {
	background-image: url(./assets/icons/social-media/facebookaccent.webp);
}

#facebook:hover {
	background-image: url(./assets/icons/social-media/facebook.png);
}

#instagram {
	background-image: url(./assets/icons/social-media/instagramaccent.webp);
}

#instagram:hover {
	background-image: url(./assets/icons/social-media/instagram.png);	
}

#twitter {
	background-image: url(./assets/icons/social-media/twitteraccent.webp);
}

#twitter:hover {
	background-image: url(./assets/icons/social-media/twitter.png);	
}

#youtube {
	background-image: url(./assets/icons/social-media/youtubeaccent.webp);	
}

#youtube:hover {
	background-image: url(./assets/icons/social-media/youtube.png);	
}

#contact {
	background-image: url(./assets/background-images/3darkened20blurred15.webp);
	text-align: center;
}

.contact-wrapper {
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.1);
	height: 80vh;
	width: 90vw;
}

.half {
	display: inline-block;
	width: 90vw;
	min-height: 35vh;
	height: auto;
	max-height: 50vh;
	padding-left: 20px;
	padding-right: 20px;
	overflow: auto;
}

.half h1 {
	text-align: left;
	padding-top: 30px;
	padding-left: 60px;
	font-weight: 400;
	font-size: 35px;
	font-family: 'Montserrat', sans-serif;
	color: lightgrey;
}

.about-text {
	padding-top: 45px;
	padding-left: 60px;
}

.half p {
	padding-right: 30px;
	word-wrap: break-all;
	max-width: 960px;
	font-family: 'Montserrat', sans-serif;
	color: lightgrey;
	font-size: 16px;
	line-height: 1.5;
	text-align: left;
}

.contact-method {
	height: 50px;
	text-align: left;
	padding-left: 60px;
}

.contact-method span {
	height: 50px;
	padding-left: 20px;
	float: left;
	text-align: left;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	color: lightgrey;
	line-height: 50px;
}

.contact-icon {
	float: left;
	display: block;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 75%;
	height: 50px;
	width: 50px;
}

.contact-info {
	padding-top: 45px;
}

#number {
	background-image: url(./assets/icons/contact/phone.webp);
}

#email {
	background-image: url(./assets/icons/contact/email.webp);
}

#location {
	background-image: url(./assets/icons/contact/location.webp);
	background-size: 60%;
}

.contact-method:after {
	content: "";
	clear: both;
}

@media screen and (max-width: 1025px) {
	#contact h1 {
		padding-left: 3vw;
	}

	.about-text {
		padding-left: 3vw;
	}

	.contact-method {
		padding-left: 3vw;
	}
}

@media screen and (max-width: 800px) {
	.contact-box {
		display: table;
		top: 0;
		margin-top: 10px;
		position: fixed;
		height: 30px;
		width: auto;
	}

	.contact-box span {
		display: table-cell;
		height: 30px;
		align-items: center;
		vertical-align: middle;
		padding-left: 10px;
		padding-right: 10px;
		letter-spacing: 7px;
		writing-mode: horizontal-tb;
	}

	.icon-box {
		right: 0;
		top: 0;
		margin-top: 10px;
		height: 30px;
		width: auto;
	}

	.icon-box:after {
		content: "";
		clear: both;
	}

	.icon {
		padding-left: 20px;
		float: right;
		width: 30px;
		height: 100%;
	}

	iframe {
		height: 35vw;
		width: 62.22vw;
	}
}


@media screen and (max-width: 700px) {
	.main-title {
		font-size: 10vw;
	}

	.subtitle {
		font-size: 2.5vw;
	}

	.main-title.error-message {
		font-size: 2vw;
	}

	.half h1 {
		font-size: 31px;
	}

	.half p {
		font-size: 15px;
	}

	.contact-method span {
		font-size: 15px;
	}
}

@media screen and (max-width: 526px) {
	.main-title {
		font-size: 10vw;
	}

	.subtitle {
		font-size: 3vw;
	}

	.main-title.error-message {
		font-size: 2.5vw;
	}
}

@media screen and (max-width: 420px) {
	.icon {
		padding-right: 7.5px;
		padding-left: 7.5px;
	}
}

@media screen and (max-width: 395px) {
	.contact-box { 
		position: fixed;
		left: 50%;
		transform: translate(-50%, 0);
		margin: 0;
		margin-top: 50px; 
	}

	.icon-box {
		position: fixed;
		width: 180px;
		left: 50%;
		transform: translate(-50%, 0);
	}

	.main-title {
		font-size: 45px;
	}

	.subtitle {
		font-size: 13px;
	}

	.main-title.error-message {
		font-size: 15px;
	}
}

@media screen and (max-width: 376px) {
	.main-title {
		font-size: 45px;
	}

	.subtitle {
		padding-left: 10px;
		padding-right: 10px;
	}
}

@media screen and (max-width: 320px) {
	.main-title {
		font-size: 14vw;
	}

	.subtitle {
		padding-left: 10px;
		padding-right: 10px;
	}
}